
<div class="modal" tabindex="-1" id="login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Rellene los datos</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formulariologin" method="GET" action="/usuarios/inicioSesion">
                    <div class="form-group w-50 mx-auto">
                        <label for="Correo">Correo:</label>
                        <input type="email" class="form-control" id="correolog" name="correo">
                        <span id="ErrorCorreoLog" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" id="passwordlog" name="password">
                        <span id="visibilidadlog" data-mostrar="false">Mostrar</span>
                    </div>
                    <div class="form-group w-50 mx-auto mt-2">
                        <button type="button" id="Iniciar" class="btn btn-dark">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="registrarseUsu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Rellene los datos</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formularioregistroUsu" method="POST" action="/usuarios/registroUsuario">
                    <div class="form-group w-50 mx-auto">
                        <label for="correoReUsu">Correo:</label>
                        <input type="email" class="form-control" id="correoReUsu" name="correo">
                        <span id="ErrorCorreoReUsu" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="passwordReUsu">Contraseña:</label>
                        <input type="password" class="form-control" id="passwordReUsu" name="password">
                        <span id="visibilidadReUsu" data-mostrar="false">Mostrar</span>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="nombreUsu">Nombre:</label>
                        <input type="input" class="form-control" id="nombreUsu" name="Nombre">
                        <span id="ErrorNombreReUsu" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 mx-auto mt-2">
                        <button type="button" id="RegistrarUsu" class="btn btn-dark">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registrarseTra">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Rellene los datos</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formularioregistroTra" method="POST" action="/usuarios/registroUsuario">
                    <div class="form-group w-50 mx-auto">
                        <label for="correoReTra">Correo:</label>
                        <input type="email" class="form-control" id="correoReTra" name="correo">
                        <span id="ErrorCorreoReTra" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="passwordReTra">Contraseña:</label>
                        <input type="password" class="form-control" id="passwordReTra" name="password">
                        <span id="visibilidadReTra" data-mostrar="false">Mostrar</span>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="NombreTra">Nombre:</label>
                        <input type="input" class="form-control" id="NombreTra" name="Nombre">
                        <span id="ErrorNombreReTra" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="TelefonoTra">Telefono:</label>
                        <input type="input" class="form-control" id="TelefonoTra" name="Telefono">
                        <span id="ErrorTelefonoReTra" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="UbicacionTra">Ubicación:</label>
                        <select class="form-control" id="UbicacionTra" name="UbicacionTra"  style="width: 100%; height:25px">
                            <option value="alava">Álava</option>
                            <option value="albacete">Albacete</option>
                            <option value="alicante">Alicante</option>
                            <option value="almeria">Almería</option>
                            <option value="asturias">Asturias</option>
                            <option value="avila">Ávila</option>
                            <option value="badajoz">Badajoz</option>
                            <option value="barcelona">Barcelona</option>
                            <option value="burgos">Burgos</option>
                            <option value="caceres">Cáceres</option>
                            <option value="cadiz">Cádiz</option>
                            <option value="cantabria">Cantabria</option>
                            <option value="castellon">Castellón</option>
                            <option value="ciudad_real">Ciudad Real</option>
                            <option value="cordoba">Córdoba</option>
                            <option value="la_coruna">La Coruña</option>
                            <option value="cuenca">Cuenca</option>
                            <option value="gerona">Gerona</option>
                            <option value="granada">Granada</option>
                            <option value="guadalajara">Guadalajara</option>
                            <option value="guipuzcoa">Guipúzcoa</option>
                            <option value="huelva">Huelva</option>
                            <option value="huesca">Huesca</option>
                            <option value="islas_baleares">Islas Baleares</option>
                            <option value="jaen">Jaén</option>
                            <option value="leon">León</option>
                            <option value="lerida">Lérida</option>
                            <option value="lugo">Lugo</option>
                            <option value="madrid">Madrid</option>
                            <option value="malaga">Málaga</option>
                            <option value="murcia">Murcia</option>
                            <option value="navarra">Navarra</option>
                            <option value="orense">Orense</option>
                            <option value="palencia">Palencia</option>
                            <option value="las_palmas">Las Palmas</option>
                            <option value="pontevedra">Pontevedra</option>
                            <option value="salamanca">Salamanca</option>
                            <option value="segovia">Segovia</option>
                            <option value="sevilla">Sevilla</option>
                            <option value="soria">Soria</option>
                            <option value="tarragona">Tarragona</option>
                            <option value="santa_cruz_de_tenerife">Santa Cruz de Tenerife</option>
                            <option value="teruel">Teruel</option>
                            <option value="toledo">Toledo</option>
                            <option value="valencia">Valencia</option>
                            <option value="valladolid">Valladolid</option>
                            <option value="vizcaya">Vizcaya</option>
                            <option value="zamora">Zamora</option>
                            <option value="zaragoza">Zaragoza</option>
                        </select>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="profesion">Profesión:</label>
                        <select class="form-control" id="profesion" name="profesion">
                            <option value="pintor">Pintor</option>
                            <option value="electricista">Electricista</option>
                            <option value="albanil">Albañil</option>
                            <option value="fontanero">Fontanero</option>
                            <option value="cerrajero">Cerrajero</option>
                            <option value="carpintero">Carpintero</option>
                        </select>
                    </div>
                    <div class="form-group w-50 mx-auto mt-2">
                        <button type="button" id="RegistrarTra" class="btn btn-dark">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="subirTrabajador">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Rellene los datos</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formulariosubirTrabajador" method="POST" action="/usuarios/subirTrabajador">
                    <div class="form-group w-50 mx-auto">
                        <label for="UbicacionsubirTrabajador">Ubicación:</label>
                        <select class="form-control" id="UbicacionsubirTrabajador" name="UbicacionsubirTrabajador"  style="width: 100%; height:25px">
                            <option value="alava">Álava</option>
                            <option value="albacete">Albacete</option>
                            <option value="alicante">Alicante</option>
                            <option value="almeria">Almería</option>
                            <option value="asturias">Asturias</option>
                            <option value="avila">Ávila</option>
                            <option value="badajoz">Badajoz</option>
                            <option value="barcelona">Barcelona</option>
                            <option value="burgos">Burgos</option>
                            <option value="caceres">Cáceres</option>
                            <option value="cadiz">Cádiz</option>
                            <option value="cantabria">Cantabria</option>
                            <option value="castellon">Castellón</option>
                            <option value="ciudad_real">Ciudad Real</option>
                            <option value="cordoba">Córdoba</option>
                            <option value="la_coruna">La Coruña</option>
                            <option value="cuenca">Cuenca</option>
                            <option value="gerona">Gerona</option>
                            <option value="granada">Granada</option>
                            <option value="guadalajara">Guadalajara</option>
                            <option value="guipuzcoa">Guipúzcoa</option>
                            <option value="huelva">Huelva</option>
                            <option value="huesca">Huesca</option>
                            <option value="islas_baleares">Islas Baleares</option>
                            <option value="jaen">Jaén</option>
                            <option value="leon">León</option>
                            <option value="lerida">Lérida</option>
                            <option value="lugo">Lugo</option>
                            <option value="madrid">Madrid</option>
                            <option value="malaga">Málaga</option>
                            <option value="murcia">Murcia</option>
                            <option value="navarra">Navarra</option>
                            <option value="orense">Orense</option>
                            <option value="palencia">Palencia</option>
                            <option value="las_palmas">Las Palmas</option>
                            <option value="pontevedra">Pontevedra</option>
                            <option value="salamanca">Salamanca</option>
                            <option value="segovia">Segovia</option>
                            <option value="sevilla">Sevilla</option>
                            <option value="soria">Soria</option>
                            <option value="tarragona">Tarragona</option>
                            <option value="santa_cruz_de_tenerife">Santa Cruz de Tenerife</option>
                            <option value="teruel">Teruel</option>
                            <option value="toledo">Toledo</option>
                            <option value="valencia">Valencia</option>
                            <option value="valladolid">Valladolid</option>
                            <option value="vizcaya">Vizcaya</option>
                            <option value="zamora">Zamora</option>
                            <option value="zaragoza">Zaragoza</option>
                        </select>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="profesion">Profesión:</label>
                        <select class="form-control" id="profesionsubirTrabajador" name="profesion">
                            <option value="pintor">Pintor</option>
                            <option value="electricista">Electricista</option>
                            <option value="albanil">Albañil</option>
                            <option value="fontanero">Fontanero</option>
                            <option value="cerrajero">Cerrajero</option>
                            <option value="carpintero">Carpintero</option>
                        </select>
                    </div>
                    <div class="form-group w-50 mx-auto">
                        <label for="TelefonosubirTra">Telefono:</label>
                        <input type="input" class="form-control" id="TelefonosubirTra" name="Telefono">
                        <span id="ErrorTelefonosubirReTra" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 mx-auto mt-2">
                        <button type="button" id="subirTrabajadorBtn" class="btn btn-dark">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="modalCambioFotoPerfil">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Cambio de foto de perfil</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="cambiarFotoPerfil" method="POST" action="/usuarios/cambiarFoto" enctype="multipart/form-data">
                    <div class="form-group w-50 mx-auto">
                        <label for="FotoPerfil">Subir archivo PNG (tamaño máximo 5 MB):</label>
                        <input type="file" class="form-control" id="cambioFotoPerfil" name="cambioFotoPerfil" accept=".png">
                        <span id="errorFotoPerfil" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50 mx-auto mt-2">
                        <button type="button" class="btn btn-dark " id="CambioFotoPerfil">Cambiar Foto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>